.searchWrapper {
  position: relative;
}

.search {
  width: 300px;
  height: 40px;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: #f4f4f4;
  padding-left: 35px;
  position: relative;
  font-size: 17px;
}

.clearIcon {
  position: absolute;
  right: 10px;
  top: 12px;
  cursor: pointer;
  img {
    width: 15px;
    height: 15px;
    opacity: .5;

    &:hover {
      opacity: .9;
      transition: .3s;
    }
  }
}

.searchIcon {
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 12px;
  img {
    width: 18px;
    height: 18px;
    opacity: .5;

  }
}