.wrapperPag {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-left: 55px;
}

.pagination {
  display: flex;

  .paginationItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fe5f1e;
    margin: 0 3px 0 3px;
    cursor: pointer;
    color: #fe5f1e;
    user-select: none;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
      transition: .3s;
    }
  }
  .paginationItemActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fe5f1e;
    margin: 0 3px 0 3px;
    cursor: pointer;
    color: white;
    background-color: #fe5f1e;
    user-select: none;

    &:hover {
      background-color: #fe5f1e;
      color: #fff;
      transition: .3s;
    }
  }
}

.arrowBack {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fe5f1e;
  cursor: pointer;
  color: #fe5f1e;
  margin-right: 5px;
  user-select: none;
  &:hover {
    background-color: #fe5f1e;
    color: #fff;
    transition: .3s;
  }
}

.arrowNext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #fe5f1e;
  cursor: pointer;
  color: #fe5f1e;
  margin-left: 5px;
  user-select: none;
  &:hover {
    background-color: #fe5f1e;
    color: #fff;
    transition: .3s;
  }
}